div.small-3.columns#addPerformance {
    button.button.red {
      background-color: #fff;
      border: 1px solid $red;
      a {
        color: $red;
      }
    }
}

div#perId img {
  width: 300px;
  height: 300px;
}