div#overflow {
  height: 250px;
  overflow: scroll;
}

dl#summerShow {
  dd {
    display: inline;
  }
}
div#register {
  button.button.register.expand {
    background-color: $twitter;
    a {
      color: #fff;
    }
  }
}
